@tailwind base;
@tailwind components;
@tailwind utilities;
.rtl {
  direction: rtl;
  text-align: right;
}
.prose * {
  box-sizing: border-box;
  max-width: 100% !important;
  word-break: break-word;
  overflow-wrap: break-word;
}
html, body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth; /* גלילה חלקה */
  scroll-padding-top: 120px; /* מרווח גלילה חשוב */
}

